# Appendix : Pandas for Data Analysis

In [4]:
# Importing pandas

import pandas as pd

## 1. Datatypes

pandas has two main datatypes, `Series` and `Dataframe`.

- `Series` - a 1-dimensional column of data.
- `Dataframe` (most common) - a 2-dimensional of data with rows and columns.

In [7]:
# Creating a series of car types
series = pd.Series(["BMW","Toyota","Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [8]:
colours = pd.Series(["red","blue","black","white"])
colours

0      red
1     blue
2    black
3    white
dtype: object

In [9]:
# Creating a DataFrame = 2-dimensional

car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make Colour
0      BMW    red
1   Toyota   blue
2    Honda  black
3      NaN  white

You can see the keys of the dictionary became the column headings and the values of the two series's became the values in the DataFrame. It's important to note, many different types of data could go into the DataFrame.

**Exercices**

1. Make a `Series` of different foods.
2. Make a `Series` of different dollar values.
3.Combine your `Series`'s of foods and dollar value into a `DataFrame`.

In [10]:
# Exercices 

foods = pd.Series(["orange","apple","honey","strawberry"])
dollar = pd.Series([1.2,2.32,3,4.21])

food_data = pd.DataFrame({"foods Name": foods, "Price": dollar})
food_data

   foods Name  Price
0      orange   1.20
1       apple   2.32
2       honey   3.00
3  strawberry   4.21

## 2. Importing Data